@using TriResultsV2.Models
@model EventResultsAccordionItemVM

@{
    var eventResultsTable = new EventResultsTableVM()
    {
        ContentId =  Model.ContentId,
        PersonalRecordsTable = Model.PersonalRecordsItem,
        EventResults = Model.EventResults
    };

    string headerButtonCss = "accordion-button collapsed";
    string bodyContainerCss = "accordion-collapse collapse";

    if (Model.Expanded)
    {
        headerButtonCss = "accordion-button";
        bodyContainerCss = "accordion-collapse collapse show";
    }

    string contentDivId = $"div-{Model.ContentId}";
}
<div class="accordion-item">
    <h2 class="accordion-header">
        <button class="@headerButtonCss" type="button" data-bs-toggle="collapse" data-bs-target="#@contentDivId">
            @Model.HeaderText
        </button>
    </h2>
    <div id="@contentDivId" class="@bodyContainerCss">
        <div class="accordion-body">
            <partial name="_EventResultsTable" model="@eventResultsTable" />
        </div>
    </div>
</div>